<div th:fragment="header" id="sidebar">
    <header style="background: rgba(0,0,200,0.1);">
      <img th:src="@{/images/logo.png}" alt="Foodys" width="150px"/>
    </header>
    <ul class="nav">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Dashboard
        </a>
      </li>
      <li>
        <a href="/driver/foodOrder">
          <i class="fa fa-link"></i> foodOrders
        </a>
      </li>
      <li>
        <a href="/home">
          <i class="fa fa-widgets"></i> Tickets
        </a>
      </li>
      <li>
        <a href="/driver/transaction">
          <i class="fa fa-widgets"></i> Transactions
        </a>
      </li>
      
      <li>
        <a href="/logout">
          <i class="fa fa-comment"></i> Logout
        </a>
      </li>
    </ul>
  </div>
  