<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title>Foodys</title>
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<meta ng-model="ticket.viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" />
  	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
  	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  	
  	
  	<script th:src="@{/js/jquery.min.js}"></script>
  	<script th:src="@{/js/bootstrap.min.js}"></script>
  	<script th:src="@{/js/angular.min.js}"></script>
  	<script th:src="@{/js/notify.min.js}"></script>
  	<script th:src="@{/js/driverController.js}" ></script>
  	
  	
  	
</head>

<body ng-app="myApp" >


<!--  <div th:replace="fragments/header :: header"></div>
 -->
  
	
<div ng-controller="driverCtrl" class="container" style="height:100vh">
  
  <div id="viewport">
  <!-- Sidebar -->
  <div th:replace="fragments/driver_nav :: header"></div>
  <!-- Content -->
  <div id="content">
  
    
    
    <div class="container-fluid">
      <h1>My Tickets</h1>
      <p>
      
       <button class="btn btn--radius-2 btn--green" id="newReqBtn" ng-click="openForm()" style="float:right" ><i class="fa fa-plus"></i> New Ticket</button>
      </p>
      
      
      <!-- Table -->
      
<div id="table" class="container-table100">
<div>
<div>
<table class="table table-hover table-striped table-responsive">
<thead>

<th>Id</th>
<th>Date</th>
<th>Source city</th>
<!-- <th class="column3">Source state</th> -->
<th >Destination city</th>
<!-- <th class="column5">Destination state</th> -->
<th >Departure date</th>
<th >Arrival date</th>
<th >Status</th>
<!--  <th class="column8">Track</th> -->
<th >Action</th>

</thead>
<tbody>
	<tr ng-repeat="ticket in tickets">
<th class="column2">{{ticket.id}}</th>
<th class="column1">{{ticket.datetime | date}}</th>
<th class="column3">{{ticket.source_city}}</th>
<!-- <th class="column4">{{ticket.source_state}}</th> -->
<th class="column5">{{ticket.destination_city}}</th>
<!-- <th class="column6">{{ticket.destination_state}}</th> -->
<th class="column7">{{ticket.departure_date | date}}</th>
<th class="column8">{{ticket.arrival_date | date}}</th>
<th class="column9" ng-if="ticket.verified=='Approved'">Approved</th>
<th class="column9" ng-if="ticket.verified=='Rejected'">Rejected</th>
<th class="column9" ng-if="ticket.verified=='Submitted'">Pending for Approval</th>

<th class="column11">
<button type="button" ng-if="ticket.verified=='Approved'" ng-click="viewfoodOrders($index)" class="btn btn-success" style="margin:10px">View foodOrders</button>
<span ng-if="ticket.verified=='Submitted'"   style="margin:10px">Pending for approval</Span>
<button type="button" ng-if="ticket.verified=='Rejected'" ng-click="edit($index)" class="btn btn-primary" style="margin:10px">Edit</button>
</th>

</tr>

</tbody>
</table>
</div>
</div>
</div>
      
      
      
      
      <div class="card card-6" id="requestform" style=" display:none;">
                <div class="card-heading">
                    <h2 class="title">Submit ticket</h2>
                </div>
                <div class="card-body">
                
                   <form method="POST" action="#">
                    <input type="hidden" id="id" ng-model="ticket.id" />
                    <div class="form-row">
                            <div class="name">Source city</div>
                            <label class="error">{{errors.source_city}}</label><br>
                            <div class="value">
                                <div class="">
                                    <input class="input--style-6" type="text" ng-model="ticket.source_city" placeholder="Source city">
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="name">Source state</div>
                            <label class="error">{{errors.source_state}}</label><br>
                            <div class="value">
                                <div class="">
                                    <input class="input--style-6" type="text" ng-model="ticket.source_state" placeholder="Source state">
                                </div>
                            </div>
                        </div>
                        
                     <div class="form-row">
                            <div class="name">Destination city</div>
                            <label class="error">{{errors.destination_city}}</label>
                            <div class="value">
                                <div class="">
                                    <input class="input--style-6" type="text" ng-model="ticket.destination_city" placeholder="Destination city">
                                </div>
                            </div>
                        </div>
                        
                         <div class="form-row">
                            <div class="name">Destination state</div>
                            <label class="error">{{errors.destination_state}}</label>
                            <div class="value">
                                <div class="">
                                    <input class="input--style-6" ng-model="ticket.destination_state" placeholder="Destination state">
                                </div>
                            </div>
                        </div>
                          <div class="form-row">
                            <div class="name">Departure date</div>
                            <label class="error">{{errors.departure_date}}</label>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-6" type="date" min="0" ng-model="ticket.departure_date" placeholder="Departure date">
                                </div>
                            </div>
                        </div>
                         <div class="form-row">
                            <div class="name">arrival_date</div>
                            <label class="error">{{errors.arrival_date}}</label><br>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-6" type="date" min="0" ng-model="ticket.arrival_date" placeholder="Arrival date">
                                </div>
                            </div>
                        </div>
                          
                        
                       
                       
                    </form>
                </div>
                <div class="card-footer">
                    <button class="btn btn--radius-2 btn--blue-2" type="button" ng-click="submitTicket()"><i class="fa fa-paper-plane"></i> Submit</button>
                </div>
            </div>
    </div>
  </div>
</div>
  
  <!-- The Modal -->
<div class="modal" id="foodOrdersModal">
  <div class="modal-dialog" style="width:100%">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">foodOrders matching your ticket</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        
        

<table class="table table-hover table-striped table-responsive">
<thead class="thead-dark">
<tr>
<th>Date</th>
<th>foodOrder ID</th>
<th>customer Name</th>
<th>Source Address</th>
<th>Destination Address</th>
<th>Quoted_Price</th>
<th>Status</th>
<th>Action</th>
</tr>
</thead>
<tbody>

<tr ng-repeat="foodOrder in foodOrders">
<td>{{foodOrder.datetime | date}}</td>
<td>{{foodOrder.id}}</td>
<td>{{foodOrder.customer_name}}</td>

<td>{{foodOrder.fcity}} , {{foodOrder.fstate}}, {{foodOrder.fcountry}}, {{foodOrder.fpincode}}</td>
<td>{{foodOrder.address_line1}} <br> {{foodOrder.address_line2}} <br> {{foodOrder.city}} , {{foodOrder.state}}, <br>{{foodOrder.country}}, {{foodOrder.pincode}}</td>

<td>{{foodOrder.quoted_price}}</td>
<td>{{foodOrder.status}}</td>
<td>

<button type="button" ng-click="acceptfoodOrder($index)" class="btn btn-success" style="margin:10px">Accept</button>
</td>
</tr>

</tbody>
</table>

        
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
  
  </div>
	
</body>
</html>